:root{
    --skeleton: #0000001C;
    --skeleton-wave: rgba(0, 0, 0, 0.1);
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
